.user-profile-link {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-card-pic {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-left: 5px;
    margin-right: 10px;
    object-fit: cover;
}

.all-users-card {
    padding: 5px;
    border: 2px;
    border-color: white;
}