.create-message-textarea {
    height: 80px;
    width: 500px;
    border-radius: 10px;
    background-color: grey;
}

.create-message-text-area::placeholder {
    color: white;
}

.errors {
    color: red;
}

.create-message-container {
    width: 800px;
}

/* .create-message-textarea {
    width: 500px;
} */