.all-users-component {
    height: 400px;
}

.all-users-list {
    overflow: auto;
    height: 800px;
    width: 500px;
    border: 2px solid white;
    border-radius: 10px;
}

.all-users-title {
    color: white
}