.all-users-component {
    height: 400px;
}

.all-users-list {
    overflow: auto;
    height: 700px;
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: grey;
}

.all-users-title {
    color: white
}