.post-list{
    overflow-y: auto;
    width: 800px;
    flex: 1; 
}

.post-list::-webkit-scrollbar {
    display: none;
}

.post-component-title {
    color: white;
}

.post-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.post-list-create-form {
    width: 100%;
    display: inline-block;
    border: 1px solid white;
    padding-left: 10px;
}

.post-list-create-container {
    width: 100%;
}
