.post-list{
    overflow: auto;
    width: 800px;
    height: 800px;
    
}

.post-list::-webkit-scrollbar {
    display: none;
}

.post-component-title {
    color: white
}

.post-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}


